li {
  display: list-item;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
  outline: 1px solid black;
  overflow: hidden;
}

li button {
  float: right;
  text-align: center;
  width: 50px;
  padding: 0 !important;
}
